/** @format */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
body {
  background-image: url("df.jpg");
  background-size: cover;
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: black;
}
h1 {
  text-align: center;
  padding-top: 40px;
  font-size: 6vw;
  color: white;
  font-family: "Rubik Vinyl", cursive;
}

a {
  text-decoration: none;
  font-size: 3vw;
  background-color: black;
  color:orangered;
  border:1px solid red;
  padding: 3px;
  border-radius: 5px;
  font-family: "Rubik Vinyl", cursive;
}
a:hover {
  color: gold;
}
